body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #ece6e6;
}
  

.site-header {
    background: linear-gradient(120deg, #ace0ae, #66bb6a);
    color: #fff;
    text-align: center;
    padding: 30px 20px;
}

.main-nav {
    display: flex;
    justify-content: center;
    background-color: #255728;
    padding: 15px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 6px;
    transition: transform 0.2s, background-color 0.5s;
}

.nav-link:hover {
    background-color: #35b439;
    transform: scale(1.1);
}

.intro-section {
    padding: 25px;
}

.overview, .activities {
    margin-bottom: 20px;
}

ul, ol {
    margin-left: 20px;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.city-photo {
    width: 350px;
    border-radius: 10px;
    border: 2px solid #2e7d32;
    margin-bottom: 10px;
}

figcaption {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

.site-footer {
    text-align: center;
    background-color: #a9d1ab;
    color: white;
    padding: 15px 0;
}


.page-header {
    background-color: #00695c;
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

.content {
    padding: 20px;
}

.image-gallery img {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    border: 2px solid #004d40;
}

.info-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.info-table th, .info-table td {
    border: 1px solid #004d40;
    padding: 10px;
    text-align: left;
}

.media-section {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;

}

.back-home {
    text-decoration: none;
    color: #00695c;
    font-weight: bold;
}

.back-home:hover {
    color: #004d40;
}
#bckhome {
    background-color: #a9d1ab;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}
